<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
        <!-- Item Column -->
        <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Item</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.item}}</td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Cost</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}}</td>
        </ng-container>

        <!-- Item Description Column -->
        <ng-container matColumnDef="item-description" >
            <th mat-header-cell *matHeaderCellDef colspan="2"> Name of the item purchased</th>
        </ng-container>

        <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
        <tr mat-header-row *matHeaderRowDef="['item-description']; sticky: true"
            class="example-first-header-row">
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"
            class="example-second-header-row">
        </tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>